
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

#header {
    background-color: #222222;
    height: 46px;
    position: fixed;
    width: 100%;
    /*z-index: 10;*/
    top: 0;
    /*color: white;*/
}

ul {
    float: left;
}

li {
    float: left;
    list-style-type: none;
    padding: 0 15px; /*khoảng cách trái phải*/
    line-height: 46px; /*căn giữa trên dưới*/
}

.a-header a {
    color: white;
    text-decoration: none;
}

.login {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 46px;
    padding-right: 10px;
}

.link {
    background: #f1f1f1;
    height: 630px;
    text-align: center;

}

.padding, .a-link a {
    padding: 15px 0;
    color: cornflowerblue;
    text-decoration: none /*bỏ dấu gạch dưới*/
}

.content {
    margin-top: 46px;
}

.pd_top {
    padding-left: 15px;
}

.mg-top {
    margin-top: 15px;
}

.ads {
    background-color: #f1f1f1;
    height: 630px;
    /*display: flex;*/
    /*align-items: center;*/
}

.button {
    margin: 10%;
    padding: 30px 10px;
    box-sizing: content-box;
    width: 180px;
    height: 40px;
    /*justify-content: center;*/

}

.footer{
    background: #222222;
    bottom: 0;
    height: 40px;
    width: 100%;
    position: fixed;
    color: white;
    line-height: 40px;
    text-align: center;
}


